@media(max-width:430px) {

    /* header  */
    header {
        padding-inline: 16px;
    }

    .header_nav {
        top: 111px;
    }

    .logo1 {
        width: 87px;
        height: 44px;
    }

    .logo2 {
        width: 76px;
        height: 44px;
    }

    .header_right_div {
        column-gap: 8px;
    }

    .fa-bars,
    .fa-cart-shopping {
        font-size: 20px;
    }

    /* background image section */

    .background_section_title {
        font-size: 20px;
    }

    .background_section_text {
        font-size: 14px;
    }

    /* section2  */

    .section2 {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .images_section2 {
        width: 138px;
    }

    .section2 {
        margin-top: 64px;
        margin-bottom: 64px;
        column-gap: 20px;
    }

    .section2_2_picture {
        column-gap: 20px;
    }

    .section2_pictures_text {
        font-size: 15px;
    }
}