.container {
    width: min(100%, 1440px);
    margin: auto;
    /* border: 10px solid red; */
}

/* header  */

header {
    padding: 26px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #402101CC;
    opacity: 0.8;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.fa-xmark {
    display: none;
    color: #FFFFFF;
    font-size: 32px;
}

.fa-bars {
    display: none;
}

.fa-solid:hover {
    scale: 1.1;
    filter: drop-shadow(1px 1px 3px #FFFFFF);
}

.header_ul {
    display: flex;
    column-gap: 60px;
}

.header_a {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}

.header_a:hover {
    font-size: 18.5px;
    border-bottom: 3px solid black;
}

.active {
    color: #D5906E;

}

.logo1 {
    width: 127px;
    height: 44px;
}

.logo2 {
    width: 114px;
    height: 44px;
}

.header_right_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.header_button {
    border: none;
    background: inherit;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.header_button:hover {
    border: 1px solid #D5906E;
    border-radius: 5px;
}

.fa-cart-shopping {
    color: #FFFFFF;
    font-size: 24px;
}

/* background image section  */

.background_section {
    background-image: url(../images/cover1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_section_div {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background_section_title {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;

}

.background_section_text {
    margin-top: 16px;
    margin-bottom: 56px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

}

.background_section_button {
    padding: 12px 45px;
    border: 2px solid #D5906E;
    border-radius: 10px;
    background: transparent;
    color: #FFFFFF;
    transition: .2s linear;
    color: white;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.background_section_button:hover {
    scale: 1.25;
    box-shadow:
        1px 1px 2px #D5906E,
        inset 1px 1px 2px #D5906E;
}

/* section2  */

.section2 {
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.section2_2_picture {
    display: flex;
    column-gap: 24px;
}

.section2_pictures_text {
    margin-top: 16px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #B53B1B;
    text-align: center;

}

.picture1_div:hover {
    scale: 1.05;
    box-shadow: 1px 1px 8px #a67468, -1px -1px 8px #a67468;
    border-radius: 10px;
}

/* section3  */
.section3 {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #402101;
}

.section3_title {
    margin-bottom: 40px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
}

.section3_main_div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section3_div1,
.section3_div2 {
    display: flex;
    column-gap: 40px;
    justify-content: center;

}

.section3_picture1:hover {
    border-radius: 10px;
    scale: 1.01;
    box-shadow: 0 0 10px #b6814d;
}

.section3_picture2:hover {
    border-radius: 10px;
    scale: 1.01;
    box-shadow: 0 0 10px #b6814d;
}

.section3_picture3:hover {
    border-radius: 10px;
    scale: 1.01;
    box-shadow: 0 0 10px #b6814d;
}

.section3_picture4:hover {
    border-radius: 10px;
    scale: 1.01;
    box-shadow: 0 0 10px #b6814d;
}

.section3_picture5:hover {
    border-radius: 10px;
    scale: 1.01;
    box-shadow: 0 0 10px #b6814d;
}

/* section4  */

