.container {
    width: min(100%, 1440px);
    margin: auto;
    border: 10px solid red;
}

/* header  */

header {
    padding: 26px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #402101CC;
    opacity: 0.8;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.fa-xmark {
    display: none;
    color: #FFFFFF;
    font-size: 32px;
}

.fa-bars {
    display: none;
}

.fa-solid:hover{
    scale: 1.1;
    filter: drop-shadow(1px 1px 3px #FFFFFF);
}

.header_ul {
    display: flex;
    column-gap: 60px;
}

.header_a {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}
.header_a:hover {
    font-size: 18.5px;
    border-bottom: 3px solid black;
}

.active {
    color: #D5906E;

}

.logo1 {
    width: 127px;
    height: 44px;
}

.logo2 {
    width: 114px;
    height: 44px;
}

.header_right_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.header_button {
    border: none;
    background: inherit;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.header_button:hover {
    border: 1px solid #D5906E;
    border-radius: 5px;
}

.fa-cart-shopping {
    color: #FFFFFF;
    font-size: 24px;
}

/* background image section  */