@media(max-width:744px) {

    /* header  */

    header {
        padding: 9px 24px;
    }

    .header_nav {
        top: 101px;
    }

    .logo_div {
        display: flex;
        flex-direction: column;
    }

    .logo1 {
        width: 113px;
        height: 39px;
    }

    .logo2 {
        width: 101px;
        height: 39px;
    }

}

@media(max-width:585px) {

    /* background image section */
    .background_section_div {
        margin-inline: 20px;
    }
    .background_section_title {
        font-size: 24px;
    }
}